<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LP_Transport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LP_Transport.Properties.Settings>
            <setting name="tcpIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tcpName" serializeAs="String">
                <value />
            </setting>
            <setting name="tcpPort" serializeAs="String">
                <value>134</value>
            </setting>
            <setting name="tcpOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isModul1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isModul2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isModul3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isModul4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultIP" serializeAs="String">
                <value>localhost</value>
            </setting>
        </LP_Transport.Properties.Settings>
    </userSettings>
</configuration>